<template id="blog-card-template">
  <article class="card" card-style="halftone" card-interactive="true">
    <figure
      class="cover-media"
      data-blog-cover-media
      data-cover-size="medium"
    >
    </figure>
    <h3 class="card-heading" data-blog-title></h3>
    <p class="date" data-blog-date></p>
    <p class="card-text" data-blog-preview></p>
    <a class="button" data-blog-link>Read More</a>
  </article>
</template>
