<template id="case-study-card-template">
  <article class="card" card-style="halftone" card-interactive="true">
    <figure
      class="cover-media"
      data-study-cover-media
      data-cover-size="medium"
    >
    </figure>
    <h3 class="card-heading" data-study-title></h3>
    <p class="date" data-study-date></p>
    <p class="card-text" data-study-preview></p>
    <p class="meta-line">
      <strong>Tools:</strong>
      <span data-study-tools></span>
    </p>
    <a class="button" data-study-link>View Case Study</a>
  </article>
</template>
