<template id="case-study-card-template">
  <article
    class="card"
    card-layout="vertical"
    card-effect="halftone"
    card-interactive="true"
  >
    <figure
      class="media"
      media-variant="cover"
      media-density="medium"
      data-study-cover-media
    >
    </figure>
    <div class="card-content">
      <h3 class="card-heading" data-study-title></h3>
      <p class="chip" chip-type="date" data-study-date></p>
      <p class="card-text" data-study-preview></p>
      <p class="chip-group" chip-group-type="meta">
        <strong>Tools:</strong>
        <span data-study-tools></span>
      </p>
      <a class="button" button-style="filled" data-study-link>View Case Study</a
      >
    </div>
  </article>
</template>
