---
import CaseStudyCardTemplate from "../../components/CaseStudyCardTemplate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Work - Darren Sorrels Design">
  <section class="work-page">
    <p class="chip" chip-type="tag">Selected Case Studies</p>
    <h2>Work</h2>
    <div id="case-studies" class="studies-grid"></div>
  </section>
  <CaseStudyCardTemplate />
  <script slot="after-main" type="module" src="/js/work.js"></script>
</BaseLayout>
