---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title="Blog Post - Darren Sorrels Design">
  <main>
    <article id="blog-post-detail" class="detail-page panel" panel-type="detail">
      <p>Loading blog post...</p>
    </article>

    <template id="blog-detail-template">
      <a class="button" href="/blog">Back to Journal</a>

      <header class="detail-header">
        <p class="tag">Journal Entry</p>
        <p class="date" data-blog-date></p>
        <h1 data-blog-title></h1>
        <p class="detail-excerpt" data-blog-excerpt hidden></p>
        <figure
          class="cover-media detail-cover-media"
          data-blog-cover-media
          data-cover-size="medium"
          hidden
        >
        </figure>
      </header>

      <div class="detail-content" data-blog-content></div>
    </template>
  </main>
  <script type="module" src="/js/blogDetail.js"></script>
</BaseLayout>
