---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Darren Sorrels">
  <main class="about-layout">
    <header>
      <p class="chip" chip-type="tag">About Darren</p>
      <h1>A little more about me</h1>
    </header>

    <article class="bio-container">
      <h2>Hi I'm Darren, I'm a User Experience & Product designer.</h2>

      <p class="text-lead">
        I've a creative thinker, a problem solver, and an avid explorer of new
        things. I really enjoy working on problems that are beneficial to
        humanity at large and bring more well-being to the world we live in.
      </p>
      <p>
        I believe that everything we do in life is both an <strong>Art</strong> and
        a <strong>Science</strong>.
      </p>
      <p class="text-lead">
        Take a look at my <a href="/work">work</a> or say hello to me on
        <a
          href="https://twitter.com/Darrenbydesign"
          target="_blank"
          rel="noopener">Twitter</a
        >
        and
        <a
          href="https://www.instagram.com/darrensorrelsdesign"
          target="_blank"
          rel="noopener">Instagram</a
        >.
      </p>
    </article>

    <section aria-labelledby="skills-heading">
      <h3 id="skills-heading">Design Skills and Achievements</h3>
      <ul class="chip-group" role="list">
        <li class="chip">Journey Mapping</li>
        <li class="chip">Empathy Mapping</li>
        <li class="chip">Design Sprints</li>
        <li class="chip">User Research</li>
        <li class="chip">Prototyping</li>
        <li class="chip">UX Strategy</li>
      </ul>
    </section>
  </main>
</BaseLayout>
