---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Blog Post - Darren Sorrels Design">
  <main>
    <article id="blog-post-detail" class="detail-page manga-panel">
      <p>Loading blog post...</p>
    </article>
  </main>
</BaseLayout>
